body {
    background-color: white;
    font-family: sans-serif;
}

.projects {
    text-align: center;
}

.project {
    display: inline-block;
    width: 22%;
    margin: 20px 20px;
    height: 270px;
    position: relative;
}

.project img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hoverItem {
    display: none;
    background-color: teal;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: top 0.5s, left 0.5s, opacity 0.5s;
}

.hoverItem:hover {
    top: 20px;
    left: 20px;
    opacity: 1;
}

.hoverItem a {
    color: white;
    text-decoration: none;
}

.hoverItem a:hover {
    color: #E1D9D1;
}

.hoverItem p {
    margin-top: 120px;
}

.topLeftLink {
    position: fixed;
    top: 47px;
    left: 40px;
    z-index: 10;
}

.topLeftLink a {
    text-decoration: none;
    color: #3d3d3d;
}

.topLeftLink a:hover {
    border-bottom: 3px solid teal;
    color: teal;
}

.topRightLink {
    position: fixed;
    top: 47px;
    right: 40px;
    z-index: 10;
}

.topRightLink a {
    text-decoration: none;
    color: #3d3d3d;
}

.topRightLink a:hover {
    border-bottom: 3px solid teal;
    color: teal;
}

.centerLink {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 30px;
    left: 48.75%;
    z-index: 10;
}

.centerLink .logo {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/brain.png');
}

.centerLink .logo:hover {
    background-image: url('./images/teal-brain.png');
}

.navbar {
    margin-bottom: 140px;
}

.bottomRightLink {
    position: fixed;
    bottom: 47px;
    right: 40px;
    z-index: 10;
}

.bottomRightLink a {
    text-decoration: none;
    color: #3d3d3d;
}

.bottomRightLink a:hover {
    border-bottom: 3px solid teal;
    color: teal;
}

.bottomLeftLink {
    position: fixed;
    bottom: 47px;
    left: 40px;
    z-index: 10;
}

.bottomLeftLink a {
    text-decoration: none;
    color: #3d3d3d;
}

.bottomLeftLink a:hover {
    border-bottom: 3px solid teal;
    color: teal;
}

.mobile-navbar {
    display: none;
}

.mobile-navbar .links {
    display: none;
}

.mobile-projects {
    display: none;
}

@media (min-width: 320px) and (max-width: 425px) {
    .project {
        width: 80%;
        margin: 20px 0px;
    }

    .mobile-navbar {
        display: block;
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 10;
    }

    .links {
        margin-left: 30px;
    }

    .links a {
        text-decoration: none;
        display: block;
        color: black;
        margin: 10px 0px;
        background-color: white;
        padding: 5px 0px;
        width: 80px
    }

    .navbar {
        display: none;
    }

    .mobile-navbar .centerLink {
        position: relative;
        top: 0px;
        left: 43%;
        background-color: white;
        border-radius: 50%;
        padding: 8px;
    }

    .mobile-navbar .logo:hover {
        background-image: url('./images/brain.png');
    }

    #firstProject {
        margin-top: 76px;
    }

    .mobile-projects {
        display: block;
        text-align: center;
    }

    .projects {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .mobile-navbar .centerLink {
        left: 40%;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .mobile-navbar .centerLink {
        left: 41.5%;
    }

    .links {
        margin-left: 36px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .mobile-navbar .centerLink {
        left: 43%;
    }

    .links {
        margin-left: 41px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .project {
        width: 40%;
    }

    .centerLink {
        left: 46.9%;
    }

    .mobile-projects {
        display: block;
        text-align: center;
    }

    .projects {
        display: none;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .project {
        width: 20%;
    }
}